a.jxtDropDownText {
    display: block;
}

div.jxtFilterSearch {
    position:relative;
    background-color: transparent;
}

div.jxtFilterBoxHide {
    display: none;
}

div.jxtFilterBox {
    border:1px;
    width:100%;
    position:absolute;
}

input.searchBox {
    margin-top: 1px;
}

