a.jxtDropDownText {
    display: block;
    background-color: #cfd8de !important;
}

div.jxtFilterSearch {
    position:relative;
    background-color: transparent;
}

div.jxtFilterBoxHide {
    display: none;
}

div.jxtFilterBox {
    border:1px;
    width:100%;
    position:absolute;
}

input.searchBox {
    margin-top: 1px;
}

a.jxtDropDownText:hover {
    display: block;
    background-color: #9a89f0 !important;
}


